@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400&family=MuseoModerno:wght@200&family=Roboto:wght@300&family=Sue+Ellen+Francisco&display=swap');

/*! Font Families:
font-family: 'Inria Sans', sans-serif;
font-family: 'MuseoModerno', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Sue Ellen Francisco', cursive;
*/

/* :root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  } */

 #nav-bar {
    width: auto;
    height: 3rem;
    /* background-color: rgba(162, 133, 241, 0.75); */
    background-color: rgb(0, 0, 0);
    padding: 0 3rem!important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
 }

#nav-bar ul {
  list-style-type: none;
}

 #nav-bar a {
   margin-left: 2rem;
   font-family: 'Roboto', sans-serif;
   text-decoration: none;
 }
