

img {
    /* max-width: 100%;
    height: 100%; */
    /* background-size: stretch; */
    /* background-repeat: no-repeat; */
    /* width: 1550px;
    height: 100%; */
    /* overflow-y: hidden; */
    /* background-image: url("../../imgs/apod2.jpg"); */
    /* background-size: 100%; */
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: fit-content;
}

.bg-img-outer {
    background-image: url("https://apod.nasa.gov/apod/image/1510/IC1871_HSTwager.jpg");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    width: 100%;
    height: 650px;
    transition: opacity;
    transition-duration: 0.5s;
}

.bg-img-inner {
    background-image: url("https://apod.nasa.gov/apod/image/1609/20160918EdmontonhengeVanzella2048.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    width: 100%;
    height: 650px;
    transition: opacity;
    transition-duration: 0.5s;
    opacity: 0;
}
