/* TODO Add site wide styles */

* {
    box-sizing: border-box;

}


body, ul, div, nav {
    padding: 0px;
    margin: 0px;
}


:root {
    --bg: #242526;
    --bg-accent: #484A4D;
    --text-color: #DADCE1;
    --nav-size: 60px;
    --border: 1px solid #474A4D;
    --border-radius: 8px;
    --speed: 500ms;
}

body, ul, div, nav {
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}
