/* TODO Add site wide styles */

* {
    box-sizing: content-box;
    /* overflow-y: hidden;
    overflow-x: hidden; */
}

body, ul, div, nav {
    padding: 0px;
    margin: 0px;
}

#the-main-contain {
    width: 100vw;
    height: 100vh;
    background-color: rosybrown;
}
