@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400&family=MuseoModerno:wght@200&family=Roboto:wght@300&family=Sue+Ellen+Francisco&display=swap');

.form-main-body-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url("https://apod.nasa.gov/apod/image/2010/Quantrids_Slovinsky_2048.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}



.formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.formLogin label {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.25rem;
    color: purple;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.25rem;
    display: block;
    margin-top: 10px;
    padding:  0.5rem 1.35rem;
    border: 1px solid rgba(2, 71, 139, 0.65);
    border-radius: 10px;
    outline: none;
}

.input2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.25rem;
    display: block;
    margin-top: 10px;
    padding:  0.5rem 1.35rem;
    border: 1px solid rgba(2, 71, 139, 0.65);
    border-radius: 10px;
    outline: none;
}

.demo-user-btn {
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.25rem;
    margin-top: 20px;
    padding:  0.5rem 1.35rem;
    border: 1px solid rgba(2, 71, 139, 0.65);
    border-radius: 10px;
    outline: none;
}

.demo-user-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 96, 191, 0.125);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

#demo-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.login-form-btn {
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.25rem;
    margin-top: 20px;
    padding:  0.5rem 1.35rem;
    border: 1px solid rgba(2, 71, 139, 0.65);
    border-radius: 10px;
    outline: none;
}

/* #demo-btn button {
    width: 20%;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.25rem;
    margin-top: 3%;
    padding:  0.5rem 1.35rem;
    border: 1px solid rgba(2, 71, 139, 0.65);
    border-radius: 10px;
    outline: none;
} */
